.has-border-aqua {
    border-width: 1px;
    border-style: solid;
    border-color: aqua;
}

.font-family {

}

.font-size-paragraph {

}

.font-weight {

}

.height {

}

.margin-top {

}

.margin {

}

.max-width {

}

.padding {

}

.width {
    
}